/* .App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

/* body {
  min-height:100%;
  min-width: 100%;
  background:url("/images/city_background.jpg");
  background:linear-gradient(0deg,rgba(5, 48, 238, 0.3),rgba(118, 139, 231, 0.3)),url("/images/city_background.jpg");
  background-size:cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: rgba(192, 199, 228, 0.3);
  margin-bottom: 100px 
 }   */
/* 
.testing {
  color: rgb(76, 83, 88)
} */